<footer id="site-footer" itemscope itemid="https://karlhammar.com/#karl" itemtype="https://schema.org/Person">
  <link itemprop="gender" href="https://schema.org/Male" />

  <div class="wrapper">

    <div id="footer-col-wrapper">
      <div class="footer-col" id="footer-col-1">
        <ul id="contact-list">
          <li><span itemprop="honorificPrefix">Dr</span> <span itemprop="givenName">Karl</span> <span itemprop="familyName">Hammar</span></li>
          <li><a href="mailto:karl@karlhammar.com"><span itemprop="email">karl@karlhammar.com</span></a></li>
        </ul>
      </div>

      <div class="footer-col" id="footer-col-2">&nbsp;
      </div>

      <div class="footer-col" id="footer-col-3">
        <ul id="social-media-list" itemscope itemid="{{page.url | prepend: site.url}}" itemtype="https://schema.org/WebPage">
          <li><a itemprop="relatedLink" href="https://github.com/hammar"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="username">hammar</span></a></li>
          <li><a itemprop="relatedLink" href="https://twitter.com/karlhammar"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span><span class="username">karlhammar</span></a></li>
        </ul>
    </div>

  </div>

</footer>
