<footer id="site-footer" itemscope itemid="http://karlhammar.com/#karl" itemtype="http://schema.org/Person">
  <link itemprop="gender" href="http://schema.org/Male" />

  <div class="wrapper">

  <header id="footer-heading"><a href="http://karlhammar.com">{{ site.title }}</a></header>

    <div id="footer-col-wrapper">
      <div class="footer-col" id="footer-col-1">
        <ul id="contact-list">
          <li><span itemprop="honorificPrefix">Dr</span> <span itemprop="givenName">Karl</span> <span itemprop="familyName">Hammar</span></li>
          <li><a href="mailto:karl@karlhammar.com"><span itemprop="email">karl@karlhammar.com</span></a></li>
          <li>Phone: <a href="tel:+4636101611"><span itemprop="telephone">+46 (0)36 10 16 11</span></a></li>
        </ul>
      </div>

      <div class="footer-col" id="footer-col-2">
        <ul id="social-media-list" itemscope itemid="http://karlhammar.com{{page.url}}" itemtype="http://schema.org/WebPage">
          <li><a itemprop="relatedLink" href="https://github.com/hammar"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="username">hammar</span></a></li>
          <li><a itemprop="relatedLink" href="https://twitter.com/karlhammar"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span><span class="username">karlhammar</span></a></li>
        </ul>
      </div>

      <div class="footer-col" id="footer-col-3">
        <p itemprop="workLocation" itemtype="Place">Room E2413<br />
        Department of Computer Science and Informatics<br />
        School of Engineering, Jönköping University</p>
      </div>
    </div>

  </div>

</footer>
