---
---

<span itemscope itemtype="http://schema.org/ScholarlyArticle" itemid="http://karlhammar.com/publications/#{{key}}">
  {{ reference }}
  {% if link %}
  <br /><a itemprop="associatedMedia" href="http://karlhammar.com{{link}}">Download (PDF) &raquo;</a>
  {% endif %}
  <span itemprop="name" content="{{entry.title}}"></span>
  <span itemprop="datePublished" content="{{entry.year}}"></span>

  {% for author in entry.author_array %}
    <span itemprop="author">
      <span itemscope itemtype="http://schema.org/Person">
        <span itemprop="givenName" content="{{author.first}}"></span>
        <span itemprop="familyName" content="{{author.last}}"></span>
      </span>
    </span>
  {% endfor %}


  {% if entry.pages %}
  {% assign pages = entry.pages | split: "–" %}
  <span itemprop="pageStart" content="{{pages.first}}"></span>
  <span itemprop="pageEnd" content="{{pages.last}}"></span>
  {% endif %}


  {% if entry.publisher %}
  <span itemprop="publisher">
    <span itemscope itemtype="http://schema.org/Organization" itemprop="name" content="{{entry.publisher}}"></span>
  </span>
  {% endif %}

  {% if entry.type == "inproceedings" or entry.type == "incollection" %}
  <span itemprop="isPartOf">
    <span itemscope itemtype="http://schema.org/CreativeWork" itemprop="name" content="{{entry.booktitle}}">
      {% for editor in entry.editor_array %}
      <span itemprop="editor">
        <span itemscope itemtype="http://schema.org/Person">
          <span itemprop="givenName" content="{{editor.first}}"></span>
          <span itemprop="familyName" content="{{editor.last}}"></span>
        </span>
      </span>
      {% endfor %}
    </span>
  </span>
  {% endif %}

  {% unless entry.type== "proceedings" %}
  <span itemprop="author" content="http://karlhammar.com/#karl"></span>
  {% endunless %}

  {% if entry.type== "proceedings" %}
  <span itemprop="editor" content="http://karlhammar.com/#karl"></span>
  {% for editor in entry.editor_array %}
  <span itemprop="editor">
    <span itemscope itemtype="http://schema.org/Person">
      <span itemprop="givenName" content="{{editor.first}}"></span>
      <span itemprop="familyName" content="{{editor.last}}"></span>
    </span>
  </span>
  {% endfor %}
  {% endif %}

</span>
