---
---

<div itemscope itemtype="https://schema.org/ScholarlyArticle" itemid="{{key | prepend: "#" | prepend: site.url}}">
  {{ reference }}
  {% if links.png %}
    <link itemprop="image" href="{{links.png | prepend: site.url}}" />
  {% elsif links.pdf %}
    <link itemprop="image" href="{{links.pdf | prepend: site.url}}" />
  {% endif %}
  {% if links.pdf %}
    <br /><a itemprop="associatedMedia" href="{{links.pdf | prepend: site.url}}">Download (PDF) &raquo;</a>
  {% elsif links.zip %}
    <br /><a itemprop="associatedMedia" href="{{links.zip | prepend: site.url}}">Download (ZIP) &raquo;</a>
  {% endif %}
  <span itemprop="headline" content="{{entry.title}}" />
  <span itemprop="datePublished" content="{{entry.year}}" />

  {% for author in entry.author_array %}
    <div itemprop="author"  itemscope itemtype="https://schema.org/Person">
        <span itemprop="givenName" content="{{author.first}}" />
        <span itemprop="familyName" content="{{author.last}}" />
    </div>
  {% endfor %}


  {% if entry.pages %}
  {% assign pages = entry.pages | split: "–" %}
  <span itemprop="pageStart" content="{{pages.first}}" />
  <span itemprop="pageEnd" content="{{pages.last}}" />
  {% endif %}


  {% if entry.publisher %}
  <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
    <span itemprop="name" content="{{entry.publisher}}"></span>
  </div>
  {% endif %}

  {% if entry.type == "inproceedings" or entry.type == "incollection" %}
  <div itemprop="isPartOf" itemscope itemtype="https://schema.org/CreativeWork">
    <div itemprop="name" content="{{entry.booktitle}}">
      {% for editor in entry.editor_array %}
      <div itemprop="editor" itemscope itemtype="https://schema.org/Person">
          <span itemprop="givenName" content="{{editor.first}}"></span>
          <span itemprop="familyName" content="{{editor.last}}"></span>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% unless entry.type== "proceedings" %}
  <span itemprop="author" content="https://karlhammar.com/#karl" />
  {% endunless %}

  {% if entry.type== "proceedings" %}
  <span itemprop="editor" content="https://karlhammar.com/#karl" />
  {% for editor in entry.editor_array %}
  <div itemprop="editor" itemscope itemtype="https://schema.org/Person">
      <span itemprop="givenName" content="{{editor.first}}" />
      <span itemprop="familyName" content="{{editor.last}}" />
  </div>
  {% endfor %}
  {% endif %}

</div>
