---
---

<span about="http://karlhammar.com/publications/#{{key}}" typeof="schema:ScholarlyArticle">
  {{ reference }}
  <span rel="schema:name" content="{{entry.title}}" />
</span>
<!--<a id="{{entry.key}}" href="{{entry.url}}">{{entry.title}}</a><br />
{{entry.author}},
{{entry.editor}}
<i>{{entry.booktitle}}</i>,
{{entry.organization}},
{{entry.year}}

<hr />

 {{ reference }}

<hr />

{{entry.year}}

{{entry.title}}

{{entry.editor}}

{% if entry.abstract %}
<p>{{ entry.abstract }}</p>
{% endif %}-->

<pre>{{ entry.bibtex }}</pre>
